@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color 0.1s, color 0.3s;
}